<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: html(content=~{:: mycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>
</head>
<body>
<div class="container   " id="content" th:fragment="mycontent">
    <br>
    <h1 class="display-4">Willkommen auf unserer Homepage!</h1>
    <label class="lead">Auf dieser Webseite können Sie bestimmte Neuigkeiten rund um den Globus hochladen!</label>
    <hr>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newArticle-modal"
                        id="newArticleButton">Erstelle Sie einen neuen Artikel
                </button>
                <div class="modal fade" id="newArticle-modal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="titleArticle">Überschrift</label>
                                    <input type="text" class="form-control" id="titleArticle"
                                           placeholder="Geben Sie hier Ihre Überschrift für den Artikel den Sie verfassen möchten an.">
                                </div>
                                <div class="form-group">
                                    <label for="categoryArticle">Zu Welcher Kategorie gehört Ihre Nachricht?</label>
                                    <select class="form-control" id="categoryArticle">
                                        <option>Welt</option>
                                        <option>Unterhaltung</option>
                                        <option>Sport</option>
                                        <option>Wirtschaft</option>
                                        <option>Technik</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="contentArticle">Worum geht es in Ihrem Artikel?</label>
                                    <textarea class="form-control" id="contentArticle"
                                              placeholder="Verfassen Sie hier Ihren Text."></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Wird angezeigt nachdem der Knopf "newArticleButton" gedrückt wurde.-->


</div>
</div>

</body>
</html>